body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
header
{
    text-align: center;
    font-size:xx-large;
    padding: 20px;
    background-color:#F8F0E5 ;
}
nav
{
    margin: 3px;
    background-color:#176B87;
}
ul
{
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
}
a
{
    text-decoration: none;
    padding: 5px;
}
li :hover
{
    background-color:whitesmoke;
    border-radius: 5px;

}
li
{
    padding: 5px;
    text-decoration: none;
}

.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}